* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: #383838;
}

a {
    color: purple;
    text-decoration: none;
}

.sections {
    padding: 2rem;
    margin: 2rem;
    background-color: #e9ebf0;
    border-radius: 10px;
    box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
    -webkit-box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
    -moz-box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
}

#main {
    max-width: 1280px;
    margin: 2rem auto;
    background: #dadce0;
    border-radius: 10px;
    padding: 3px 0;
}

#header {
    padding: 2rem 0 1rem 0;
    text-align: center;
}

#header h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;

}

.book {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
    -webkit-box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
    -moz-box-shadow: 2px 11px 31px -4px rgba(99, 99, 99, 0.75);
}

.book:nth-child(2) {
    margin: 20px 0;
}

#title-word {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#img-caption {
    margin-top: 1rem;
}

.description-info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;

}

.description-header {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    text-align: justify;
}

.creator-image {
    max-width: 100%;
    height: auto;
}

.captions {
    text-align: center;
    color: #636369;
}

.book-details {
    margin: 2rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 5fr 1fr;
}


.book-heading {
    text-align: center;
}



@media (max-width: 1200px) {
    .book-image {
        max-width: 25%;
        margin: auto;
    }

    .book-details {
        grid-template-columns: 1fr;
    }

}

@media(max-width:700px) {
    .creator-pic {
        max-width: 25%;
        margin: auto;
    }

    .description-info {
        grid-template-columns: 1fr;
    }
}